{% extends 'base.html.twig' %}

{% block content %}
    <div class="card-body margin-top">
        <h3>Contact Details</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <b>{{ form_label(form.firstName) }}</b>
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
            <div class="col">
                <b>{{ form_label(form.lastName) }}</b>
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 margin-top">
                <b>{{ form_label(form.street) }}</b>
                {{ form_widget(form.street, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
            <div class="col-2 margin-top">
                <b>{{ form_label(form.streetNumber) }}</b>
                {{ form_widget(form.streetNumber, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
            <div class="col-2 margin-top">
                <b>{{ form_label(form.zip) }}</b>
                {{ form_widget(form.zip, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col margin-top">
                <b>{{ form_label(form.city) }}</b>
                {{ form_widget(form.city, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
            <div class="col margin-top">
                <b>{{ form_label(form.country) }}</b>
                {{ form_widget(form.country, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col margin-top">
                <b>{{ form_label(form.phoneNumber) }}</b>
                {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
            <div class="col margin-top">
                <b>{{ form_label(form.birthDate) }}</b>
                {{ form_widget(form.birthDate, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
            <div class="col margin-top">
                <b>{{ form_label(form.email) }}</b>
                {{ form_widget(form.email, {'attr': {'class': 'form-control-plaintext'}}) }}
            </div>
        </div>
        <div class="row margin-top">
            <div class="col margin-top">
                <a href="{{ path('home') }}" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
{% endblock %}