{% extends 'base.html.twig' %}

{% block content %}
    <div class="card-body margin-top">
        <h3>Contact Details</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="col">{{ form_label(form.firstName) }}</th>
                        <td>{{ form_widget(form.firstName, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{ form_label(form.lastName) }}</th>
                        <td>{{ form_widget(form.lastName, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{ form_label(form.street) }}</th>
                        <td>{{ form_widget(form.street, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{ form_label(form.streetNumber) }}</th>
                        <td>{{ form_widget(form.streetNumber, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{ form_label(form.zip) }}</th>
                        <td>{{ form_widget(form.zip, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{ form_label(form.city) }}</th>
                        <td>{{ form_widget(form.city, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{ form_label(form.country) }}</th>
                        <td>{{ form_widget(form.country, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{ form_label(form.phoneNumber) }}</th>
                        <td>{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{ form_label(form.birthDate) }}</th>
                        <td>{{ form_widget(form.birthDate, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{{ form_label(form.email) }}</th>
                        <td>{{ form_widget(form.email, {'attr': {'class': 'form-control-plaintext'}}) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row margin-top">
            <div class="col margin-top">
                <a href="{{ path('home') }}" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
{% endblock %}